.App {
  width: 100vw;

}
.setup{
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 20%;
  background-color: rgb(45, 45, 45);
 

}
body {
   background-color:#E5E5E5;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.class1{
  margin-top: 70px;
}
.Icon{
  filter: brightness(0.5);
}
.Navtext{
  color: rgb(228, 209, 209);
  text-decoration: none;
  font-size: large;

}
.Navtext:hover{
  color: rgb(215, 240, 240);
 font-size: larger;

}

.Navhover:hover{
  
 background-color: rgb(209, 228, 229);
  cursor: pointer;
  color: black;
  
  

}
.Navhover{
  margin-left: 25px;
  padding: 0;
  height: 40px;
}
.boorder{
  border: 2px solid black;
  border-radius: 30px;
}

.imagesize{
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
.customcard{
  width: 18rem;
  height: 150px;
  margin-top: 20px;
}
.cards1{
  background-color: #e6f0f3;
}

.imageicon{
  height: 20px;
  width: 20px;
  margin-right: 1px;
}
.dot {
  height: 10px;
  width: 8px;
  background-color: #4b2ca9;
  border-radius: 50%;
  display: inline-block;
}
.dropdown-toggle::after{
  margin-left: 7.255em;
}