.App {
  /* width: 100vw; */

}
.setup{
  display: flex;
  flex-direction: row;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Acme', sans-serif; */
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.4px;
}
/* .fixed-content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}
.fixed-content {
  overflow-y:scroll;
  overflow-x:scroll;
} */
.sidebar {
  width: 20%;
  background-color: rgb(45, 45, 45);
  font-family: 'Mulish', sans-serif;
 

}
body {
   background-color:#E5E5E5;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.class1{
  margin-top: 70px;
}
.Icon{
  filter: contrast(0.5);
  
}
.Navtext{
  color: rgb(228, 209, 209);
  text-decoration: none;
  font-size: large;
  font-family: 'Mulish', sans-serif;

}
.Navtext:hover{
  color: rgb(215, 240, 240);
 font-size: larger;
 text-decoration: none;

}

.Navhover:hover{
  
 background-color: rgb(209, 228, 229);
  cursor: pointer;

  /* color: black; */
  
  

}
.Navhover{
  margin-left: 25px;
  padding: 0;
  height: 40px;

}
.boorder{
  border: 1px solid;
  border-radius: 30px;
}

.imagesize{
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
.imagesizeuser{
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
.customcard{
  width: 18rem;
  height: 150px;
  margin-top: 20px;
}
.cards1{
  background-color: #e6f0f3;
}

.imageicon{
  height: 20px;
  width: 20px;
  margin-right: 1px;
}
.dot {
  height: 10px;
  width: 8px;
  background-color: #4b2ca9;
  border-radius: 50%;
  display: inline-block;
}
/* .one::after{
  margin-left: 8.255em;
} */

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.boxx {
  border-radius:10px;
  position: relative;
  width: 45%;
  height: 50rem;
  max-height: 95vh;
  margin-top: calc(100vh - 95vh - 10px);
  margin-left: 40rem;
  background: #fff;
  border: 0px solid #999;
  overflow: auto;
  /* z-index: 100; */
}
/* .boxx + .tooltip-wrap {
  position: absolute;
} */
/* #indexed:hover {
  cursor: pointer;
  content: "Reference ";

  } */

  .tooltip-wrap {
    position:relative;
    z-index: 1;
  }
  .tooltip-wrap-desc {
    position: relative;
  }
  .tooltip-wrap .tooltip-content {
    display: none;
    position:absolute;
    bottom: 100%;
    /* top:-100px; */
    /* left: 5%; */
    /* right: 5%; */
    height: 50px;
    background-color: #2c2626;
    color: whitesmoke;
    padding: .5em;
    border: 1px  solid rgb(79, 48, 48);
    border-radius: 8px;
    width: max-content;
    font-size: small;
    height: 40px;
    z-index: 10;
    /* /* word-wrap: break-word; */
    /* inline-size: 650px;
    overflow: hidden; */
    
  }
  .tooltip-wrap-desc .tooltip-content-desc{
    display: none;
    position: absolute;
    bottom: 50%;
    left: 95%;
    right: 0%;
    height: 50px;
    background-color: #2c2626;
    color: whitesmoke;
    padding: .5em;
    border: 1px  solid rgb(79, 48, 48);
    border-radius: 8px;
    width: max-content;
    font-size: small;
    height: max-content;
    /* /* word-wrap: break-word; */
    inline-size: 350px;
    overflow: hidden;
  }
  .tooltip-wrap:hover .tooltip-content {
    display: block;
  }
  .tooltip-wrap-desc:hover .tooltip-content-desc {
    display: block;
  }

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}


